h1 {
    height: 100%;
	margin: 10px 5px 10px 5px;
    padding: 100px 5px 10px 5px;
    color: red;
    justify-content: center;
}
ol {
    height: 100%;
    margin: 10px 5px 10px 5px;
    padding: 100px 5px 10px 5px;
    color: blue;
    
}
img {
    margin-left: 100px;
    margin-bottom: 100px;
}
a{
    margin-left: 65rem;
    font-size: larger;
    text-decoration: none;
    color:brown;
}
p{
    text-align: justify;
    color: black;
}
img{
    width: 100%;
    align-items: center;
}
.container{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}